[Unit]
Description=pgbench agent
After=network-online.target
[Service]
User=postgres
ExecStart=/usr/bin/python3 -u /opt/pgbench-agent/agent.py
Environment=AGENT_ID=%H
Restart=always
StandardOutput=journal
[Install]
WantedBy=multi-user.target