[Unit]
Description=pgbench agent
After=network-online.target
[Service]
Environment=WS_URL=wss://192.168.100.7:4000/api/scenario
ExecStart=/usr/bin/python3 /opt/agent/agent.py
Restart=always
User=postgres
[Install]
WantedBy=multi-user.target